Package: libvyatta-config2
Source: vyatta-cfg
Version: 1.29
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 172
Depends: libc6 (>= 2.14), libgcc-s1 (>= 3.0), libjansson4 (>= 2.14), libstdc++6 (>= 13.1), liburiparser1 (>= 0.6.0), libvyatta-util1
Recommends: configd (>= 2.11)
Section: contrib/net
Priority: optional
Description: vyatta-cfg back-end library
 Vyatta configuration back-end library (libvyatta-config).
