Package: libvyatta-config-perl
Source: vyatta-cfg
Version: 1.29
Architecture: amd64
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 181
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libperl5.40 (>= 5.40.0), libstdc++6 (>= 11), liburiparser1 (>= 0.6.0), libvyatta-config2, libvyatta-util1
Recommends: configd (>= 1.24)
Breaks: libvyatta-cfg1 (<< 1.28)
Replaces: libvyatta-cfg1 (<< 1.28)
Section: contrib/net
Priority: optional
Description: Legacy vyatta-cfg back-end library
 Legacy Vyatta configuration back-end library.
