/tmp/
/.debhelper/
/files
/*.substvars
/*.debhelper.log
/debhelper-build-stamp
/autoreconf.*
/vyatta-cfg/
/cli-shell-api/
/vcli/
/vyatta-config-shell/
/libvyatta-config2/
/libvyatta-config-perl/
/libvyatta-cfg-dev/
/libvyatta-cfg-dbg/
/python3-vyatta-cfgclient/
/libvyatta-cfgclient-perl/
/vyatta-dscp-v1-yang/
/vyatta-policy-v1-yang/
/vyatta-resources-v1-yang/
/vyatta-security-v1-yang/
/vyatta-services-v1-yang/
/vyatta-system-v1-yang/
/vyatta-system-acm-v1-yang/
/vyatta-types-v1-yang/
/vyatta-op-config-v1-yang/
/vyatta-op-show-confirmed-commit-v1-yang/
