Package: vcli
Source: vyatta-cfg
Version: 1.29
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 19
Depends: bash (>= 5~) | vyatta-bash (>= 1:4.4-1vyatta12), cli-shell-api, config-utils, vyatta-config-shell, vyatta-op-shell
Section: contrib/net
Priority: optional
Description: Scriptable vyatta like shell environment.
 This package provides a wrapper that allows writing shell scripts with
 Vyatta commands in them.
