Package: vyatta-config-shell
Source: vyatta-cfg
Version: 1.29
Architecture: all
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Installed-Size: 38
Depends: bash (>= 5~) | vyatta-bash (>= 1:4.4-1vyatta12), bash-completion, config-utils
Recommends: configd
Section: contrib/net
Priority: optional
Description: Configuration mode CLI
 This package provides the CLI for the configuration mode shell
